* {
  font-family: 'Libre Baskerville', serif;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 60vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color:black;
}
.bio{
  text-align: center;
  margin: auto;
 width: 60%;
 font-size: 30px;

 
} 
 
.App-link {
  color: #61dafb;
}
.nav-container {
  display: flex;
  padding-right: 20px;

}
.about{
  display: flex;
  min-height: 100vh;
  background-color: rgb(232, 61, 47  );
  margin-top: -20px;
  color: rgb(244, 224, 220)
}

.contact-container{
  min-height: 50vh;
  background-color: white;
  text-align: center;


}

.resume{
  color: white;
  padding: 20px 40px;
  border: solid 1px white;
  margin-left: 10px;
  margin-top: 70px;
}

.nav-about{
  padding: 10px;
  font-size: 12px


}
.nav-portfolio{
  padding: 10px;
  font-size: 12px


}
.nav-contact {
  padding: 10px;
  font-size: 12px


}

.about-container{
  width: 600px;
  margin: auto;
  padding-top: 100px;
  font-size: calc(8px + 2vmin);
}

.link-div{
text-align: center
}

.center-contact{
  width: 300px;
  text-align: center;
  margin: auto;
  padding-top: 70px;
}


.tech-container{
  display: flex;

}

.portfolio-image{
  box-shadow: 0 8px 6px -6px black;
  width: 500px;

}
.portfolio-mobile-image {
  width: 300px;
  margin-left: 100px;
  box-shadow: 0 8px 6px -6px black;

}

.portfolio-description{
  background-color: white;
  margin-left: -50px;
  box-shadow: 0 8px 6px -6px black;
  padding: 40px;
  width: 400px;

}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px ;

}

.portfolio-title{
text-align: center;
font-size: 30px;
padding-bottom: 30px
;}

.portfolio-header{
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
}

.portfolio-links{
text-align: center}

.in-touch {
  color: white;
  padding: 20px;
  border: solid 1px white;
  margin-right: 10px;
  margin-top: 70px;
}




.portfolio-component{
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: rgb(243,245,246);
}

.title-name {
  padding: 10px;
  margin: auto;

}

.nav-linkedin{
  padding: 10px;
  font-size:12px

}

.nav-github{
  padding: 10px;
  font-size:12px

}

.contact-links{
  background-color: rgb(232, 61, 47  );
  display: flex;
  justify-content: center;
}

.image{
  width: 280px;
  height: 280px;
  margin-top: 200px;
  margin-right: 100px

}

a:visited{
  color: black;
}

a:hover{
  text-decoration: underline;
}

.getin{
  color: white;
}