* {
  font-family: 'Libre Baskerville', serif;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 80vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color:black;
}
.bio{
 align-self: center;
 width: 50%;
 display: inline-block;
 padding-left: 15%;
 padding-right: 5%;
 font-size: 30px;

 
} 
 .image {
  align-self: center;

  width: 50%;
  display: inline-block;
  height: 100%;
}
.App-link {
  color: #61dafb;
}
.nav-container {
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
  /* background-color: rgb(244, 224, 220); */
}
.about{
  min-height: 100vh;
  background-color: rgb(232, 61, 47  );
  margin-top: -20px;
  color: rgb(244, 224, 220)
}

.contact-container{
  min-height: 50vh;
  background-color: palevioletred;
  text-align: center;


}

.resume{
  padding: 20px;
  border: solid 1px rgb(135,162,206);
}

.nav-about{
  padding: 20px;

}
.nav-portfolio{
  padding: 20px;

}
.nav-contact {
  padding: 20px;

}

.about-container{
  width: 600px;
  margin: auto;
  padding-top: 100px;
  font-size: calc(8px + 2vmin);
}

.link-div{
text-align: center
}

.center-contact{
  width: 300px;
  text-align: center;
  margin: auto;
  padding-top: 70px;
}

.in-touch{
  color: white;
  border: solid 1px rgb(135,162,206);
  border-radius: 15px;
}

.tech-container{
  display: flex;

}

.portfolio-image{
  width: 500px;
}
.portfolio-mobile-image {
  width: 300px;
  margin-left: 100px
}

.portfolio-description{
  background-color: yellow;
  width: 400px;

}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;


}

.portfolio-title{
text-align: center;
font-size: 30px
;}

.portfolio-header{
  text-align: center;
  font-size: 50px
}

.portfolio-links{
text-align: center}

.get-in-touch {
  color: black;
  padding: 20px;
  border: solid 1px rgb(135,162,206);
}

.portfolio-component{
  background-color: rgb(244, 224, 220);
  padding-top: 30px;
}