.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bio{
 align-self: center;
 width: 50%;
 display: inline-block;
 padding-left: 15%;
 padding-right: 5%;

 
} 
 .image {
  align-self: center;

  width: 50%;
  display: inline-block;
  height: 100%;
}
.App-link {
  color: #61dafb;
}

.nav-container {
  display: flex;
  padding-left: 20px;
  position: absolute;
  color: white;
  right: 40px;
}

.about{
  min-height: 100vh;
  background-color: #61dafb;
}

.contact-container{
  min-height: 100vh;
  background-color: palevioletred;

}

.resume{
  padding: 20px;
  border: solid 1px rgb(135,162,206);
  border-radius: 15px;
}

.nav-about{
  padding: 20px;

}
.nav-portfolio{
  padding: 20px;

}
.nav-contact {
  padding: 20px;

}

.about-container{
  width: 600px;
  margin: auto;

}

.center-contact{
  width: 40px;
  margin: auto
}